:root {
  --morganite: 'Morganite', sans-serif;
  --object-sans: 'ObjectSans', sans-serif;
  --back: #DF081D;
  --color: #FBE8CC;
  --fzxs: 16px;
  --fzs: 24px;
  --fzm: 34px;
  --fzl: 3vw;
  --fzxl: 362px;
}
@font-face {
  font-family: 'Morganite';
  font-weight: 700;
  src: local('Morganite'), url(fonts/Morganite-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'ObjectSans';
  font-weight: 400;
  src: local('ObjectSans'), url(fonts/ObjectSans-Regular.woff) format('woff');
}

body {
  font-family: var(--object-sans);
  font-size: var(--fzxs);
  background: var(--back);
  color: var(--color);
}
#__next {
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  background: none;
  border: none;
}

